# Segmenting and Clustering Neighborhoods in Toronto

## Let us start with importing all the libraries

In [3]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

Now we scrap the web for the table of postal codes in Toronto. This data is then transformed into a pandas dataframe.
Pandas is very useful for working with large datasets and with the help of numpy in python the computations are much
easier. Now we retrieve the table data from the Wikipedia page using pandas read_html.

**URL**:https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [16]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
tables = pd.read_html(url, header=0)

So now we have read the URL. Here it reads all the tables and we then take the first table which we need. And see the first 10 rows of the table to confirm and name the columns for later indentification

In [23]:
df = tables[0]
df.columns = ['PostalCode','Borough','Neighborhood']
df.head(10)

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights
7        M6A        North York    Lawrence Manor
8        M7A      Queen's Park      Not assigned
9        M8A      Not assigned      Not assigned

Our next task is to **remove** rows with "Not assiged" values in the borough field.

In [24]:
df = df[df.Borough != "Not assigned"]
df.head(10)

   PostalCode           Borough      Neighborhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M5A  Downtown Toronto       Regent Park
6         M6A        North York  Lawrence Heights
7         M6A        North York    Lawrence Manor
8         M7A      Queen's Park      Not assigned
10        M9A         Etobicoke  Islington Avenue
11        M1B       Scarborough             Rouge
12        M1B       Scarborough           Malvern

Combine the groups with same postal code and Borough

In [29]:
df = df.groupby(['PostalCode','Borough'])['Neighborhood'].apply(','.join).reset_index()
df.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

Also if a cell has a borough but a 'Not assigned' neighborhood, then the neighborhood will be the same as the borough

In [27]:
df['Neighborhood'] = np.where(df['Neighborhood']=='Not assigned', df['Borough'], df['Neighborhood'])
df.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

So we now find the table size

In [30]:
df.shape

(103, 3)